body {
    background: linear-gradient(to bottom right, #8E2DE2, #4A00E0);
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
}

.disabled {
    background-color: grey;
    color: white;
    cursor: not-allowed;
}

button {
    background: linear-gradient(to right top, #8E2DE2, #4A00E0);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
}

button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
